.shopping-cart-item {
    display:flex;
    justify-content: space-between;
    align-items: center;
    border:1px solid #ebebeb;
    padding:10px;
    border-radius:2px;
}
.shopping-cart-item:nth-child(n+2) {
    margin-top:10px;
}

.shopping-cart-item__counter {
    width:30px;
    height: 30px;
    display:flex;
    justify-content: center;
    align-items: center;
    border:1px solid #ebebeb;
    border-radius:50%;
}
